@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #3F2A9DFF; 
    color: #fff;
    margin: 0;
    z-index: 100;
    
  }

  @media (max-width: 768px) {
    .navbar {
        position: fixed;
        height: 25px; 
    }
}
  
  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
   width: 60px;
   height: auto;
   margin-right: 0px;
 
  }
  
  .logoText {

   width: 250px; 
   height: 70;
   margin-left: 0px;
   margin-right: 25px;
  } 





